.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 113, 15);
}

.devices-body {
    position: absolute;
    left: 50%;
    top:50%;
}

.devices-body p {
    justify-content: center;
    color: #FFF;
}

.device-count {
    text-align: center;
}

.device-count h1 {
    font-size: 80px;
    color: #FFF;
}

.circle-container {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .circle-container:after{
    content: '';
    width: 20px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    opacity: 0.7;
    filter: blur(1px);
  }

  .circles {
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    border: solid black 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -40%);
    animation: anim 5s ease infinite;
    
}

.circle-container:nth-child(2) .circles {
    animation-timing-function: ease;
    animation-delay: 0.2s;
    animation-duration: 4s;
}

.circle-container:nth-child(3) .circles {
    animation-timing-function: ease;
    animation-delay: 0.4s;
    animation-duration: 4.2s;
}

.circle-container:nth-child(4) .circles {
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-duration: 4.4s;
}

.circle-container:nth-child(5) .circles {
    animation-timing-function: ease;
    animation-delay: 0.8s;
    animation-duration: 4.6s;
}

.circle-container:nth-child(6) .circles {
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-duration: 4.8s;
}

.circle-container:nth-child(7) .circles {
    animation-timing-function: ease;
    animation-delay: 1.2s;
    animation-duration: 4s;
}

.circle-container:nth-child(8) .circles {
    animation-timing-function: ease;
    animation-delay: 1.4s;
    animation-duration: 4.2s;
}

.circle-container:nth-child(9) .circles {
    animation-timing-function: ease;
    animation-delay: 1.6s;
    animation-duration: 4.4s;
}

.circle-container:nth-child(10) .circles {
    animation-timing-function: ease;
    animation-delay: 1.8s;
    animation-duration: 4.6s;
}

.circle-container:nth-child(11) .circles {
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-duration: 4.8s;
}

.circle-container:nth-child(12) .circles {
    animation-timing-function: ease;
    animation-delay: 2.2;
    animation-duration: 3s;
}

@keyframes anim {
    0%{
    transform-origin: 400% 50%;
    transform: rotate(0);
    }
    100%{
    transform-origin: 400% 50%;
    transform: rotate(360deg);
    }
    50%{
    transform-origin: -300% 50%;
    transform: rotate(0);
    }
    100%{
    transform-origin: -300% 50%;
    transform: rotate(360deg);
    }

}

.footer {
    padding: 2rem 4rem;
    background-color: rgb(0, 0,0 );
    opacity: 30%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    align-items: center;
  }

.footer-body {
    text-align: center;
    z-index: 1;
}

.footer button {
    display: inline-block;
    top: 50%;
    color: #FFF;
    background-color: rgb(19, 121, 187);
    margin-right: 15px;
    padding: 10px 15px;
    height: 50px;
    width: 20%;
}

#notify {
    z-index: 2;
    background-color: #FFF;
    color: #000
}

#logOut {
    z-index: 2;
    background-color: rgb(39, 50, 56);;
    color: #FFF;
}


